
body{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
    height: 100%;
    background: purple;
    
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: row;
    color: black;
}
button{
    background-color: purple;
    color: white;
    border: none;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
button:hover{
    transform: scale(1.05);
}
.container{
    margin: 0%;
    padding: 0;
    overflow: hidden;
    width: 50%;
    height: 100%;
    background: whitesmoke;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    margin-top: 20px;

}
.container form{
    margin: 0;
    padding: 0;
    overflow: hidden;
    width: 500px;
    height: 300px;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.container form input{
    margin: 0;
    padding: 20px;
    outline: none;
    overflow: hidden;
    width: 50%;
    outline: none;
       
}